{# @var files \KikCMS\Models\FinderFile[] #}

{% for finderFile in files %}

    <div class="file file-{{ finderFile.id }}{{ finderFile.isFolder ? ' folder' }}" data-id="{{ finderFile.id }}"
            {% if not finderFile.isFolder %} data-url="{{ url({for: 'finderFile', fileId: finderFile.id }) }}" {% endif %}>

        <div class="thumb">
            {% include "@kikcms/finder/file.twig" %}
        </div>

        <div class="name">
            <span>{{ finderFile.name }}</span>
        </div>

    </div>

{% endfor %}