{# @var files \KikCMS\Models\FinderFile[] #}

{% for finderFile in files %}

    <div class="file file-{{ finderFile.id }}" data-id="{{ finderFile.id }}"
         data-url="/finder/file/{{ finderFile.id }}">

        <div class="thumb">
            {% if thumbnails[finderFile.id] %}
                <img src="{{ thumbnails[finderFile.id] }}"/>
            {% else %}
                <span class="extension">{{ finderFile.extension }}</span>
                <span class="glyphicon glyphicon-file"></span>
            {% endif %}
        </div>

        <div class="name">
            <span>{{ finderFile.name }}</span>
        </div>

    </div>

{% endfor %}