{# @var files \KikCMS\Models\File[] #}

{% for file in files %}
    {% if not file.isFolder %}
        {% set url = url('file', file.id) ~ (file.secondsUpdated ? '?u=' ~ file.secondsUpdated) %}
    {% endif %}
    <div class="file file-{{ file.id }}{{ file.isFolder ? ' folder' }}" data-id="{{ file.id }}"
            {% if not file.isFolder %} data-url="{{ url }}" {% endif %}>
        <div class="thumb">
            {% include "@kikcms/finder/file.twig" %}
        </div>
        <div class="name">
            <span>{{ file.name }}</span>
        </div>
    </div>
{% endfor %}