{# @var files \KikCMS\Models\File[] #}

{% for file in files %}
    <div class="file file-{{ file.id }}{{ file.isFolder ? ' folder' }}" data-id="{{ file.id }}"
            {% if not file.isFolder %} data-url="{{ url('file', file.id) }}" {% endif %}>
        <div class="thumb">
            {% include "@kikcms/finder/file.twig" %}
        </div>
        <div class="name">
            <span>{{ file.name }}</span>
        </div>
    </div>
{% endfor %}