<div class="finder toolbarComponent" id="{{ instance }}" data-renderable="{{ jsData|json_encode }}">

    <input type="hidden" class="currentFolderId" value="0">

    <div class="toolbar">

        <label class="btn btn-default upload" title="{{ tl('media.button.uploadTitle') }}">
            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
            <span class="lbl">
                {{ tl('media.button.upload') }}
                <input type="file" name="files[]" multiple/>
            </span>
        </label>

        <div class="btn btn-default addFolder" title="{{ tl('media.button.newFolderTitle') }}">
            <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
        </div>

        <div class="btn btn-default delete" style="display: none;" title="{{ tl('media.button.deleteTitle') }}">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </div>

        <div class="btn btn-default copy" style="display: none;" title="{{ tl('media.button.copyTitle') }}">
            <span class="glyphicon glyphicon-copy" aria-hidden="true"></span>
        </div>

        <div class="btn btn-default cut" style="display: none;" title="{{ tl('media.button.cutTitle') }}">
            <span class="glyphicon glyphicon-scissors" aria-hidden="true"></span>
        </div>

        <div class="btn btn-default paste" style="display: none;" title="{{ tl('media.button.pasteTitle') }}">
            <span class="glyphicon glyphicon-paste" aria-hidden="true"></span>
        </div>

        <div class="search">
            <span class="glyphicon glyphicon-search"></span>
            <input type="search" class="form-control" placeholder="{{ tl('media.searchPlaceholder') }}"/>
            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        </div>
    </div>

    <div class="files">

        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>

        <div class="path"></div>

        <div class="files-container">
            {% include '@kikcms/finder/files.twig' %}
        </div>
    </div>
</div>