{# @var self \KikCMS\Classes\DataTable\DataTable #}
{# @var tableData \KikCMS\Classes\DataTable\TableData #}
{# @var languages \KikCMS\Models\Language[] #}

<div class="datatable toolbarComponent" id="{{ self.instance }}" data-renderable="{{ jsData|json_encode }}">
    <div class="toolbar">
        <div class="btn btn-default add">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            <span class="lbl">
                {{ tl(self.labels ~ '.add') ?: tl('dataTable.add') }}
            </span>
        </div>

        {% block additionalButtons '' %}

        <div class="btn btn-default delete" style="display: none;">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            <span class="lbl">{{ tl('delete') }}</span>
        </div>

        {% if self.searchableFields %}
            <div class="search">
                <span class="glyphicon glyphicon-search"></span>
                <input type="search" class="form-control" placeholder="{{ tl('dataTable.searchPlaceholder') }}"/>
                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
            </div>
        {% endif %}

        {% if self.multiLingual and languages|length > 1 %}
            <div class="language">
                <select name="language" class="form-control">
                    {% for language in languages %}
                        <option value="{{ language.code }}"{{ currentLangCode == language.code ? ' selected' }}>
                            {{ language.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        {% endif %}

        <div class="pages">
            {% if tableData.totalPages > 1 %}
                {% include '@kikcms/datatable/pagination.twig' %}
            {% endif %}
        </div>
    </div>

    <div class="table">
        {% include '@kikcms/' ~ self.tableView ~ '.twig' %}
    </div>

    <div class="footer">
        <div class="pages">
            {% if tableData.totalPages > 1 %}
                {% include '@kikcms/datatable/pagination.twig' %}
            {% endif %}
        </div>
    </div>
</div>