{# @var self \KikCMS\Classes\DataTable\DataTable #}
{# @var tableData \KikCMS\Classes\DataTable\TableData #}
{# @var languages \KikCMS\Models\Language[] #}

<div class="datatable toolbarComponent" id="{{ self.instance }}" data-renderable="{{ jsData|json_encode }}">

    <div class="modal" tabindex="-1" role="dialog" id="helpModal{{ self.instance }}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ self.helpText|raw }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        {{ tl('cms.close') }}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="toolbar">
        {% if canAdd %}
            {% if directImageField %}
                <div class="btn btn-default pick-image">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    <span class="lbl">{{ tl('dataTable.add', {itemSingular: self.labels[0]})|capitalize }}</span>
                </div>
                <label class="btn btn-default upload direct-image-upload" title="{{ tl('media.button.uploadTitle') }}">
                    <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                    <span class="lbl">
                        {{ tl('media.button.upload') }}
                        <input type="file" name="files[]" multiple/>
                    </span>
                </label>
            {% else %}
                {% block buttonAdd %}
                    <div class="btn btn-default add">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        <span class="lbl">{{ tl('dataTable.add', {itemSingular: self.labels[0]})|capitalize }}</span>
                    </div>
                {% endblock %}
            {% endif %}
        {% endif %}

        {% block additionalButtons '' %}

        {% if canDelete %}
            {% block buttonDelete %}
                <div class="btn btn-default delete" disabled="disabled" title="{{ tl('dataTable.delete.title') }}">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    <span class="lbl">{{ tl('global.delete') }}</span>
                </div>
            {% endblock %}
        {% endif %}

        {% if self.helpText %}
            <button type="button" class="btn btn-default help" data-toggle="modal" data-target="#helpModal{{ self.instance }}">
                <span class="glyphicon glyphicon-question-sign"></span>
            </button>
        {% endif %}

        {% if self.searchableFields %}
            <div class="search">
                <span class="glyphicon glyphicon-search"></span>
                <input type="search" class="form-control" placeholder="{{ tl('dataTable.searchPlaceholder') }}"/>
                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
            </div>
        {% endif %}

        {% if self.multiLingual and languages|length > 1 %}
            <div class="language">
                <select name="language" class="form-control">
                    {% for language in languages %}
                        <option value="{{ language.code }}"{{ currentLangCode == language.code ? ' selected' }}>
                            {{ language.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        {% endif %}

        <div class="pages">
            {% if tableData.totalPages > 1 %}
                {% include '@kikcms/datatable/pagination.twig' %}
            {% endif %}
        </div>
    </div>

    {% if self.customFilters %}
        <div class="filters form-horizontal form-group-sm">
            {% for filter in self.customFilters %}
                <div class="filter">
                    {% if filter.label %}
                        <label>{{ filter.label }}:</label>
                    {% endif %}

                    <select class="form-control" name="{{ filter.field }}">
                        <option value="">{{ tl('dataTable.showAll') }}</option>
                        {% for key, value in filter.options %}
                            <option {{ key is same as (filter.default) ? 'selected="selected"' }} value="{{ key }}">
                                {{ value|raw }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="table">
        {% if '@' in self.tableView %}
            {% include self.tableView ~ '.twig' %}
        {% else %}
            {% include '@kikcms/' ~ self.tableView ~ '.twig' %}
        {% endif %}
    </div>

    <div class="footer">
        <div class="pages">
            {% if tableData.totalPages > 1 %}
                {% include '@kikcms/datatable/pagination.twig' %}
            {% endif %}
        </div>
    </div>
</div>