{# @var self \KikCMS\Classes\DataTable\DataTable #}
{# @var tableData \KikCMS\Classes\DataTable\TableData #}
{# @var languages \KikCMS\Models\Language[] #}

<div class="datatable toolbarComponent" id="{{ self.instance }}" data-renderable="{{ jsData|json_encode }}">
    <div class="toolbar">

        {% block buttonAdd %}
            <div class="btn btn-default add">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                <span class="lbl">
                {{ tl('dataTable.add', {itemSingular: self.labels[0]})|capitalize }}
            </span>
            </div>
        {% endblock %}

        {% block additionalButtons '' %}

        {% block buttonDelete %}
            <div class="btn btn-default delete" style="display: none;">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                <span class="lbl">{{ tl('delete') }}</span>
            </div>
        {% endblock %}

        {% if self.searchableFields %}
            <div class="search">
                <span class="glyphicon glyphicon-search"></span>
                <input type="search" class="form-control" placeholder="{{ tl('dataTable.searchPlaceholder') }}"/>
                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
            </div>
        {% endif %}

        {% if self.multiLingual and languages|length > 1 %}
            <div class="language">
                <select name="language" class="form-control">
                    {% for language in languages %}
                        <option value="{{ language.code }}"{{ currentLangCode == language.code ? ' selected' }}>
                            {{ language.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        {% endif %}

        <div class="pages">
            {% if tableData.totalPages > 1 %}
                {% include '@kikcms/datatable/pagination.twig' %}
            {% endif %}
        </div>
    </div>

    {% if self.customFilters %}
        <div class="filters form-horizontal form-group-sm">
            {% for filter in self.customFilters %}
                <div class="filter">
                    {% if filter.label %}
                        <label>{{ filter.label }}:</label>
                    {% endif %}

                    <select class="form-control" name="{{ filter.field }}">
                        <option value="">{{ tl('showAll') }}</option>
                        {% for key, value in filter.options %}
                            <option value="{{ key }}">{{ value|raw }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="table">
        {% include '@kikcms/' ~ self.tableView ~ '.twig' %}
    </div>

    <div class="footer">
        <div class="pages">
            {% if tableData.totalPages > 1 %}
                {% include '@kikcms/datatable/pagination.twig' %}
            {% endif %}
        </div>
    </div>
</div>