{# @var tableData \KikCMS\Classes\DataTable\TableData #}

{% set totalsText = tl('dataTable.pages.total') ~ ': ' ~ tableData.totalItems %}
{% set amountPerPageText = tl('dataTable.pages.amountPerPage') ~ ': ' ~ tableData.limit %}

{% if tableData.totalItems > tableData.limit %}
    <ul class="pagination" title="{{ totalsText }}, {{ amountPerPageText }}">
        {% for page in tableData.pages %}
        {% if page %}
            <li class="{{ page == tableData.current ? 'active' : '' }}"><a data-page="{{ page }}">{{ page }}</a></li>
        {% else %}
            <li class="disabled"><a>...</a></li>
        {% endif %}
    {% endfor %}
    </ul>
{% endif %}