{# @var self \KikCMS\Classes\DataTable\DataTable #}
{# @var tableData \KikCMS\Classes\DataTable\TableData #}
{# @var tableButton \KikCMS\Classes\DataTable\TableButton #}

{% if(tableData.data) %}
    <table>
        <thead>
        <tr>
            {% for key, name in tableData.tableHeadColumns %}
                {% set title = '' %}
                {% set sortClass = '' %}
                {% set sortDirection = '' %}
                {% if self.filters.sortColumn == key %}
                    {% if self.filters.sortDirection == 'asc' %}
                        {% set sortClass = 'glyphicon glyphicon-sort-by-attributes' %}
                    {% elseif self.filters.sortDirection == 'desc' %}
                        {% set sortClass = 'glyphicon glyphicon-sort-by-attributes-alt' %}
                    {% endif %}
                    {% set sortDirection = self.filters.sortDirection %}
                {% endif %}
                {% if name is iterable %}
                    {% set title = name[1] %}
                    {% set name = name[0] %}
                {% endif %}
                <td data-column="{{ key }}" data-sort="{{ sortDirection }}" title="{{ title }}">
                    {{ name }}<span class="{{ sortClass }}"></span>
                </td>
            {% endfor %}
        </tr>
        </thead>

        <tbody>
        {% for index, row in tableData.data %}
            <tr data-id="{{ row.id }}" class="{% block tableRowClass '' %}" {% block tableRowAttr '' %}>
                {% for key, value in tableData.rowDisplayValues(index) %}
                    <td data-column="{{ key }}">
                        {% if loop.last %}
                            <div class="actions">

                                {% if self.sortable %}
                                    <div class="action sort" title="{{ sortLabel }}">
                                        <span class="glyphicon glyphicon-menu-hamburger"></span>
                                    </div>
                                {% endif %}

                                {% block tableRowButton %}
                                    {% for tableButton in self.tableButtons %}
                                        {% set onclick = tableButton.warning ? 'return confirm(\'' ~ tableButton.warning ~ '\')' %}
                                        <div class="action {{ tableButton.class }}" title="{{ tableButton.title }}">
                                            {% if tableButton.hasUrl %}
                                                {% if tableButton.icon ends with '.svg' %}
                                                    <a {{ tableButton.blank ? 'target="_blank"' }} href="{{ tableButton.url(row) }}"
                                                                                                   onclick="{{ onclick }}">
                                                        {{ source(tableButton.icon) }}
                                                    </a>
                                                {% else %}
                                                    <a {{ tableButton.blank ? 'target="_blank"' }}
                                                            href="{{ tableButton.url(row) }}" onclick="{{ onclick }}"
                                                            class="glyphicon glyphicon-{{ tableButton.icon }}"></a>
                                                {% endif %}
                                            {% else %}
                                                <span class="glyphicon glyphicon-{{ tableButton.icon }}"></span>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                {% endblock %}

                                {% block actionDeleteColumn %}
                                    <div class="action delete" data-id="{{ row.id }}" title="{{ deleteLabel }}">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    </div>
                                {% endblock %}

                                {% block actionEditColumn %}
                                    <div class="action edit" title="{{ editLabel }}">
                                        <input type="hidden" name="id" value="{{ row.id }}">
                                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                    </div>
                                {% endblock %}
                            </div>
                        {% endif %}

                        {% if fieldFormatting[key] is defined %}
                            {{ self.formatValue(key, value, row)|raw }}
                        {% else %}
                            {{ value|striptags|trim|truncate|raw }}
                        {% endif %}
                    </td>
                {% endfor %}
                {% block extraColumns '' %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="no-data">{{ tl('dataTable.noData') }}</div>
{% endif %}