{# @var self \KikCMS\Classes\DataTable\DataTable #}
{# @var tableData \KikCMS\Classes\DataTable\TableData #}
{# @var tableButton \KikCMS\Classes\DataTable\TableButton #}

{% if(tableData.data) %}
    <table>
        <thead>
        <tr>
            {% for key, name in tableData.tableHeadColumns %}
                {% set sortClass = '' %}
                {% set sortDirection = '' %}
                {% if self.filters.sortColumn == key %}
                    {% if self.filters.sortDirection == 'asc' %}
                        {% set sortClass = 'glyphicon glyphicon-sort-by-attributes' %}
                    {% elseif self.filters.sortDirection == 'desc' %}
                        {% set sortClass = 'glyphicon glyphicon-sort-by-attributes-alt' %}
                    {% endif %}
                    {% set sortDirection = self.filters.sortDirection %}
                {% endif %}
                <td data-column="{{ key }}" data-sort="{{ sortDirection }}">
                    {{ name }}<span class="{{ sortClass }}"></span>
                </td>
            {% endfor %}

            {% set extraColumns = self.tableButtons|length + (self.sortable ? 1 : 0) %}

            {% block actionEditHeaderColumn %}
                <td></td>
            {% endblock %}

            {% if extraColumns %}
                <td colspan="{{ extraColumns }}"></td>
            {% endif %}
        </tr>
        </thead>

        <tbody>
        {% for index, row in tableData.data %}
            <tr data-id="{{ row.id }}" class="{% block tableRowClass '' %}" {% block tableRowAttr '' %}>
                {% for key, value in tableData.rowDisplayValues(index) %}
                    <td>
                        {% if fieldFormatting[key] is defined %}
                            {{ self.formatValue(key, value, row)|raw }}
                        {% else %}
                            {{ value }}
                        {% endif %}
                    </td>
                {% endfor %}

                {% if self.sortable %}
                    <td class="action sort" title="{{ tl('dataTable.sort') }}">
                        <span class="glyphicon glyphicon-menu-hamburger"></span>
                    </td>
                {% endif %}

                {% block tableRowButton %}
                    {% for tableButton in self.tableButtons %}
                        <td class="action {{ tableButton.class }}" title="{{ tableButton.title }}">
                            <span class="glyphicon glyphicon-{{ tableButton.icon }}"></span>
                        </td>
                    {% endfor %}
                {% endblock %}

                {% block actionEditColumn %}
                    <td class="action edit" title="{{ tl('dataTable.edit') }}">
                        <input type="hidden" name="id" value="{{ row.id }}">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </td>
                {% endblock %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="no-data">{{ tl('dataTable.noData') }}</div>
{% endif %}