{# @var tabs \KikCMS\Classes\WebForm\Tab[] #}

<div class="assets">
    {{ assets.outputCss() }}
    {{ assets.outputJs() }}
    <script>
        {% for key in jsTranslations %}
        KikCMS.translations['{{ key }}'] = {{ tl(key)|json_encode|raw }};
        {% endfor %}
    </script>
</div>

<div class="header">
    <div class="lbl">{% block headerTitle '' %}</div>
    <div class="filters">
        {% block filters %}
            {% if multiLingual and languages|length > 1 %}
                <select name="language" class="form-control">
                    {% for language in languages %}
                        <option value="{{ language.code }}"{{ currentLangCode == language.code ? ' selected' }}>
                            {{ language.name }}
                        </option>
                    {% endfor %}
                </select>
            {% endif %}
        {% endblock %}
    </div>
</div>

{% if tabs %}
    <div class="tabs">
        {% for index, tab in tabs -%}
            <div class="tab {{ index == currentTab ? ' active' }}" data-tab="{{ index }}">
                {{ tab.name }}
            </div>
        {%- endfor %}
    </div>
{% endif %}

<div class="content">
    {{ flash.output }}
    {{ form|raw }}
</div>

{% if canEdit %}
    <div class="footer">
        <button type="button" class="btn btn-secondary save">{{ tl('dataTable.save') }}</button>
        <button type="button" class="btn btn-primary saveAndClose">{{ tl('dataTable.saveAndClose') }}</button>
    </div>
{% endif %}