<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    {{ stylesheetLink('cmsassets/css/vendor/bootstrap.css') }}
    {{ stylesheetLink('cmsassets/css/bootstrap-kikcms.css') }}
    {{ assets.outputCss() }}
    {% block head '' %}
</head>
<body data-language-code="{{ languageCode }}">
{% block body %}{% endblock %}
{{ javascriptInclude('cmsassets/js/utils.js') }}
{{ javascriptInclude('cmsassets/js/kikcms.js') }}
{{ javascriptInclude('cmsassets/js/vendor/moment/moment.js') }}
{{ javascriptInclude('cmsassets/js/vendor/moment/' ~ langCode ~ '.js') }}
{{ javascriptInclude('cmsassets/js/vendor/bootstrap.js') }}
{{ assets.outputJs() }}
<script>
    {% for key in jsTranslations %}
        KikCMS.translations['{{ key }}'] = {{ tl(key)|json_encode|raw }};
    {% endfor %}
</script>
</body>
</html>