{# helper \KikCMS\Services\Website\FrontendHelper #}
{# page \KikCMS\Models\Page #}
<!DOCTYPE html>
<html lang="{{ languageCode }}">
<head>
    <meta charset="utf-8">
    {% if helper and helper.aliasUrl %}
        <link rel="canonical" href="{{ helper.aliasUrl }}">
    {% endif %}

    {% if pageLanguage %}
        <meta name="description" content="{% block seoDescription pageLanguage.seo_description %}">
        <meta name="keywords" content="{% block seoKeywords pageLanguage.seo_keywords %}">
    {% endif %}

    {% if pageKey == 'page-not-found' %}
        <meta name="robots" content="noindex" />
    {% endif %}

    <title>
        {% block title %}
            {% if pageLanguage and pageLanguage.seo_title %}
                {{ pageLanguage.seo_title }}
            {% else %}
                {{ title }}
            {% endif %}
        {% endblock %}
    </title>
    {% block styles %}
        {{ css('cmsassets/css/frontend.css') }}
    {% endblock %}
    {% block head '' %}
    {{ assets.outputCss() }}
</head>
<body data-language-code="{{ languageCode }}" class="{% block bodyClass page.template %}" style="{% block bodyStyle '' %}">
{% block body %}{% endblock %}
{% block scripts %}
    {{ js('cmsassets/js/frontend/vendor.js') }}
    {{ js('cmsassets/js/frontend/base.js') }}
{% endblock %}
{{ assets.outputJs() }}
{% block frontendJsInit %}
<data id="kikCmsJsSettings" value='settings' style="display: none;">{{ jsSettings|json_encode|raw }}</data>
{% endblock %}
</body>
</html>