{# helper \KikCMS\Services\Website\FrontendHelper #}
{# page \KikCMS\Models\Page #}
<!DOCTYPE html>
<html lang="{{ languageCode }}">
<head>
    <meta charset="utf-8">
    {% if helper and helper.aliasUrl %}
        <link rel="canonical" href="{{ helper.aliasUrl }}">
    {% endif %}

    {% if pageLanguage %}
        <meta name="description" content="{{ pageLanguage.seo_description }}">
        <meta name="keywords" content="{{ pageLanguage.seo_keywords }}">
    {% endif %}

    <title>{% block title %}{{ title }}{% endblock %}</title>
    {% block styles %}
        {{ stylesheetLink('cmsassets/css/frontend.css') }}
    {% endblock %}
    {{ assets.outputCss() }}
    {% block head '' %}
</head>
<body data-language-code="{{ languageCode }}" class="{% block bodyClass page.template %}">
{% block body %}{% endblock %}
{% block scripts %}
    {{ javascriptInclude('cmsassets/js/frontend/vendor.js') }}
    {{ javascriptInclude('cmsassets/js/frontend/base.js') }}
{% endblock %}
{{ assets.outputJs() }}
<script>
    {% for key in jsTranslations %}
    KikCMS.translations['{{ key }}'] = {{ tl(key)|json_encode|raw }};
    {% endfor %}
</script>
</body>
</html>