<!DOCTYPE html>
<html lang="en" class="message">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link href="//fonts.googleapis.com/css?family=Lato:400,700" nonce="" rel="stylesheet">
    {{ css('cmsassets/css/cms.css') }}
    {{ customCss ? css(customCss) }}
</head>
<body class="message">
<img src="{{ config('cms.errorLogo') ?: '/images/logo.png' }}" alt="" />

<h1>{{ title }}</h1>
<div class="text">{{ description }}</div>
</body>
</html>