{# @var element Phalcon\Forms\Element #}
{# @var form \Phalcon\Forms\Form #}
{# @var field \KikCMS\Classes\WebForm\Field #}

{%- block errorWarnings -%}
    {% if errorMessages %}
        {% for errorMessage in errorMessages %}
            <span class="help-block alert alert-warning">
                <i class="glyphicon glyphicon-exclamation-sign"></i> {{ errorMessage }}
            </span>
        {% endfor %}
    {% endif %}
{%- endblock -%}

{%- block fieldDefault -%}
    <div{{ fieldContainterAttributes|raw }}>
        {%- block fieldDefaultInputAndFIeld -%}
            {% if(placeHolderAsLabel == false) %}
                {%- block fieldLabel -%}
                    {{ form.label(element.name)|raw }}
                    {% if field.helpText %}
                        <a tabindex="-1" class="helptext-btn glyphicon glyphicon-question-sign" role="button"
                           data-toggle="popover" data-trigger="focus" data-content="{{ field.helpText }}"></a>
                    {% endif %}
                {% endblock %}
            {% endif %}

            {{ form.render(element.name)|raw }}

            {% if hasError %}
                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
            {% endif %}
        {% endblock %}
    </div>
{%- endblock -%}

{%- block fieldButton %}
    {# @var field \KikCMS\Classes\WebForm\Fields\Button #}
    <div{{ fieldContainterAttributes|raw }}>
        <label>{{ field.label|raw }}</label>
        <div class="field">
            <div class="info">{{ field.info }}</div>
            <a class="btn btn-primary" href="{{ field.route }}">{{ field.buttonLabel }}</a>
        </div>
    </div>
{%- endblock -%}

{%- block fieldHidden -%}
    {{ form.render(element.name)|raw }}
{%- endblock -%}

{%- block fieldCheckbox -%}
    <div{{ fieldContainterAttributes|raw }}>
        <div class="checkbox">
            <label>
                {{ form.render(element.name)|raw }} {{ element.getLabel|raw }}
            </label>
        </div>
    </div>
{%- endblock -%}

{%- block fieldHtml -%}
    {# @var field \KikCMS\Classes\WebForm\Fields\Html #}
    <div{{ fieldContainterAttributes|raw }}>
        {% if field.label %}
            <label>{{ field.label|raw }}</label>
        {% endif %}
        <div class="field">
            {{ field.content|raw }}
        </div>
    </div>
{%- endblock -%}

{%- block fieldMultiCheckbox %}
    {# @var field \KikCMS\Classes\WebForm\Fields\MultiCheckboxField #}
    <div{{ fieldContainterAttributes|raw }}>
        {{ block('fieldLabel') }}
        {% for key, label  in field.options %}
            {% set checked = field.isset(key) ? ' checked="checked"' : '' %}
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="{{ element.name }}[]" value="{{ key }}"{{ checked }}>{{ label }}
                </label>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{%- block fieldDataTable %}
    {# @var field \KikCMS\Classes\WebForm\Fields\DataTableField #}
    <div{{ fieldContainterAttributes|raw }}>
        {{ block('fieldLabel') }}
        {{ field.renderedDataTable|raw }}
        {{ form.render(element.name)|raw }}
    </div>
{% endblock %}

{%- block fieldFile %}
    {# @var field \KikCMS\Classes\WebForm\Fields\FileField #}
    <div{{ fieldContainterAttributes|raw }}>
        {{ block('fieldLabel') }}
        {{ form.render(element.name)|raw }}

        <div class="field">
            <div class="buttons">
                <div class="btn btn-default preview{{ not element.value ? ' hidden' }}"
                     data-finder="{{ allowedFinderAccess ? 1 : 0 }}">
                    <div class="thumb">
                        {% if element.value %}
                            {% set finderFile = field.finderFileById(element.value) %}
                            {% include "@kikcms/finder/file.twig" %}
                        {% endif %}
                    </div>
                </div>

                <div class="btn btn-default delete{{ not element.value ? ' hidden' }}"
                     title="{{ tl('webform.detachFile') }}">
                    <span class="glyphicon glyphicon-remove"></span>
                </div>

                {% if allowedFinderAccess %}
                    <div class="btn btn-default pick{{ element.value ? ' hidden' }}">
                        <span class="glyphicon glyphicon-hand-up"></span>
                        <span class="lbl">{{ tl('dataTable.pickFile') }}</span>
                    </div>
                {% endif %}

                <label class="btn btn-default upload" title="{{ tl('media.button.uploadTitle') }}"
                       data-folder-id="{{ field.folderId }}">
                    <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                    <span class="lbl">
                        {{ tl('media.button.upload') }}
                        <input type="file" name="file"/>
                    </span>
                </label>
            </div>
            <div class="file-picker">
                <div class="finder-container"></div>
                <div class="buttons">
                    <div class="btn btn-default cancel">{{ tl('global.cancel') }}</div>
                    <div class="btn btn-primary disabled pick-file">{{ tl('media.pickFile') }}</div>
                </div>
            </div>
        </div>
        {{ block('errorWarnings') }}
    </div>
{% endblock %}

{%- block fieldRadioButton %}
    {# @var field \KikCMS\Classes\WebForm\Fields\RadioButtonField #}
    {{ dump(field.element.value) }}
    <div{{ fieldContainterAttributes|raw }}>
        {{ block('fieldLabel') }}
        {% for key, label  in field.options %}
            {% set checked = field.element.value == key ? ' checked="checked"' : '' %}
            <div class="radio">
                <label>
                    <input type="radio" name="{{ element.name }}" value="{{ key }}"{{ checked }}>
                    {{ label }}
                </label>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{%- block fieldSelectDataTable -%}
    {{ block('fieldDataTable') }}
{%- endblock -%}