{# @var element Phalcon\Forms\Element #}
{# @var form \Phalcon\Forms\Form #}
{# @var field \KikCMS\Classes\WebForm\Field #}

{%- block errorWarnings -%}
    {% if errorMessages %}
        {% for errorMessage in errorMessages %}
            <span class="help-block alert alert-warning">
                <i class="glyphicon glyphicon-exclamation-sign"></i> {{ errorMessage }}
            </span>
        {% endfor %}
    {% endif %}
{%- endblock -%}

{%- block fieldButton %}
    {# @var field \KikCMS\Classes\WebForm\Fields\ButtonField #}
    <div{{ fieldContainterAttributes|raw }}>
        <label>{{ field.label|raw }}</label>
        <div class="field">
            <div class="info">{{ field.info }}</div>
            <a class="btn btn-primary" href="{{ field.route }}" target="{{ field.targetBlank ? '_blank' }}">
                {{ field.buttonLabel }}
            </a>
        </div>
    </div>
{%- endblock -%}

{%- block fieldCheckbox -%}
    <div{{ fieldContainterAttributes|raw }}>
        <div class="checkbox">
            <label>{{ form.render(element.name)|raw }} {{ element.getLabel|raw }}</label>
        </div>
        {{ block('errorWarnings') }}
    </div>
{%- endblock -%}

{%- block fieldDataTable %}
    {# @var field \KikCMS\Classes\WebForm\Fields\DataTableField #}
    <div{{ fieldContainterAttributes|raw }}>
        {{ block('fieldLabel') }}
        {{ field.renderedDataTable|raw }}
        {{ form.render(element.name)|raw }}
        {{ block('errorWarnings') }}
    </div>
{% endblock %}

{%- block fieldDefault -%}
    <div{{ fieldContainterAttributes|raw }}>
        {%- block fieldDefaultInputAndField -%}
            {% if(placeHolderAsLabel == false) %}
                {%- block fieldLabel -%}
                    {{ form.label(element.name)|raw|nl2br }}
                    {%- block helpText -%}
                        {% if field.helpText %}
                            <a tabindex="-1" class="helptext-btn glyphicon glyphicon-question-sign" role="button"
                               data-toggle="popover" data-trigger="focus" data-content="{{ field.helpText }}"></a>
                        {% endif %}
                    {% endblock %}
                {% endblock %}
            {% endif %}
            {{ form.render(element.name)|raw }}
            {% if hasError %}
                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
            {% endif %}
        {% endblock %}
        {{ block('errorWarnings') }}
    </div>
{%- endblock -%}

{%- block fieldFile %}
    {# @var field \KikCMS\Classes\WebForm\Fields\FileField #}
    {% if element.value %}
        {% set file = field.fileById(element.value) %}
    {% endif %}
    <div{{ fieldContainterAttributes|raw }}>
        {{ block('fieldLabel') }}
        {{ form.render(element.name)|raw }}
        <span class="filename">{{ element.value ? '(' ~ file.name ~ ')' }}</span>
        <div class="field">
            <div class="buttons">
                <div class="btn btn-default preview{{ not element.value ? ' hidden' }}"
                     data-finder="{{ allowedFinderAccess ? 1 : 0 }}">
                    <div class="thumb">
                        {% if element.value %}
                            {% include "@kikcms/finder/file.twig" %}
                        {% endif %}
                    </div>
                </div>
                <div class="btn btn-default delete{{ not element.value ? ' hidden' }}"
                     title="{{ tl('webform.detachFile') }}">
                    <span class="glyphicon glyphicon-remove"></span>
                </div>
                {% if allowedFinderAccess %}
                    <div class="btn btn-default pick{{ element.value ? ' hidden' }}">
                        <span class="glyphicon glyphicon-hand-up"></span>
                        <span class="lbl">{{ tl('dataTable.pickFile') }}</span>
                    </div>
                {% endif %}
                <label class="btn btn-default upload" title="{{ tl('media.button.uploadTitle') }}"
                       data-folder-id="{{ field.folderId }}">
                    <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                    <span class="lbl">
                        {{ tl('media.button.upload') }}
                        <input type="file" name="file"/>
                    </span>
                </label>
            </div>
            <div class="file-picker">
                <div class="finder-container"></div>
                <div class="buttons">
                    <div class="btn btn-default cancel">{{ tl('global.cancel') }}</div>
                    <div class="btn btn-primary disabled pick-file">{{ tl('media.pickFile') }}</div>
                </div>
            </div>
        </div>
        {{ block('errorWarnings') }}
    </div>
{% endblock %}

{%- block fieldFileInput -%}
    <div{{ fieldContainterAttributes|raw }}>
        {{ block('fieldDefaultInputAndField') }}
        {% if(placeHolderAsLabel == true) %}
            {{ element.label|raw }}
        {% endif %}
        {{ block('errorWarnings') }}
    </div>
{%- endblock -%}

{%- block fieldHeader -%}
    {# @var field \KikCMS\Classes\WebForm\Fields\Header #}
    <div class="header header-{{ field.key }}">{{ field.label }}</div>
{%- endblock -%}

{%- block fieldHidden -%}
    {{ form.render(element.name)|raw }}
{%- endblock -%}

{%- block fieldHtml -%}
    {# @var field \KikCMS\Classes\WebForm\Fields\Html #}
    <div{{ fieldContainterAttributes|raw }}>
        {% if field.label %}
            <label>{{ field.label|raw }}</label>
        {% endif %}
        <div class="field">
            {{ field.content|raw }}
        </div>
        {{ block('errorWarnings') }}
    </div>
{%- endblock -%}

{%- block fieldMultiCheckbox %}
    {# @var field \KikCMS\Classes\WebForm\Fields\MultiCheckboxField #}
    <div{{ fieldContainterAttributes|raw }}>
        {{ block('fieldLabel') }}
        {% for key, label in field.options %}
            {% set checked = field.isset(key) ? ' checked="checked"' : '' %}
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="{{ element.name }}[]" value="{{ key }}"{{ checked }}>{{ label }}
                </label>
            </div>
        {% endfor %}
        {% if field.allowsDifferent %}
            {{ tl('webform.altOption') }}:
            <input class="form-control" type="text" name="{{ element.name }}[alt]" value="{{ element.value.alt }}">
        {% endif %}
        {{ block('errorWarnings') }}
    </div>
{% endblock %}

{%- block fieldRadioButton %}
    {# @var field \KikCMS\Classes\WebForm\Fields\RadioButtonField #}
    <div{{ fieldContainterAttributes|raw }}>
        {{ block('fieldLabel') }}
        {% for key, label  in field.options %}
            {% set checked = field.element.value == key ? ' checked="checked"' : '' %}
            <div class="radio">
                <label>
                    <input type="radio" name="{{ element.name }}" value="{{ key }}"{{ checked }}>
                    <span class="lbl">{{ label }}</span>
                </label>
            </div>
        {% endfor %}
        {{ block('errorWarnings') }}
    </div>
{% endblock %}

{%- block fieldReCaptcha -%}
    {# @var field \KikCMS\Classes\WebForm\Fields\ReCaptchaField #}
    <div{{ fieldContainterAttributes|raw }}>
        {% if field.version == 2 %}
            {% if field.label %}
                <label>{{ field.label|raw }}</label>
            {% endif %}
            <div class="field">
                <div class="g-recaptcha" data-sitekey="{{ reCaptchaSiteKey }}"></div>
            </div>
        {% elseif field.version == 3 %}
            {{ form.render(element.name)|raw }}
            <script>
                window.onload = function () {
                    grecaptcha.ready(function () {
                        grecaptcha.execute('{{ config('recaptcha.siteKey') }}', { action: 'contact' }).then(function (token) {
                            var fields = document.getElementsByClassName('webform-field-recaptcha');

                            for(var i in fields){
                                fields[i].value = token;
                            }
                        });
                    });
                };
            </script>
        {% endif %}
        {{ block('errorWarnings') }}
    </div>
{%- endblock -%}

{% block fieldSection %}
    {# @var field \KikCMS\Classes\WebForm\Fields\Section #}
    <div class="section section-{{ field.key }}">
        {% set fields = field.fieldMap %}
        {{ block('fields') }}
    </div>
{% endblock %}

{%- block fieldSelectDataTable -%}
    {{ block('fieldDataTable') }}
{%- endblock -%}

{%- block fieldWysiwyg -%}
    <div{{ fieldContainterAttributes|raw }}>
        <span class="tinymce-branding"><a href="https://www.tiny.cloud" target="_blank">Powered by Tiny</a></span>
        {{ block('fieldDefaultInputAndField') }}
        {{ block('errorWarnings') }}
    </div>
{%- endblock -%}