<div class="header">
    {{ tl('media.pickFile') }}
</div>
<div class="content">
    {{ finder|raw }}
</div>
<div class="footer buttons">
    <button class="btn btn-default cancel">{{ tl('global.cancel') }}</button>
    <button class="btn btn-primary disabled pick-file" data-single="{{ tl('media.pickFile') }}"
            data-multiple="{{ tl('media.pickFiles') }}">
        <span class="lbl">{{ tl('media.pickFile') }}</span><span class="amount"></span>
    </button>
</div>