{# @var form Phalcon\Forms\Form #}
{# @var fields \KikCMS\Classes\WebForm\Field[] #}
{# @var tabs \KikCMS\Classes\WebForm\Tab[] #}
{# @var errorContainer \KikCMS\Classes\WebForm\ErrorContainer #}
{# @var security \Phalcon\Security #}
{# @var flash \Phalcon\Flash\Direct #}

{% use '@kikcms/webform/fields.twig' %}
{% use '@kikcms/webform/fieldsBlock.twig' %}

<div class="webForm" id="{{ instance }}" data-renderable="{{ jsData|json_encode }}">
    {{ form({name: 'form'}) }}

    {% if flash %}
        {{ flash.output }}
    {% endif %}

    {% if errorContainer.hasFormErrors %}
        {% for error in errorContainer.formErrors %}
            <div class="alert alert-danger">
                <i class="glyphicon glyphicon-exclamation-sign"></i> {{ error }}
            </div>
        {% endfor %}
    {% endif %}

    {% if tabs %}
        <div class="tab-contents">
            {% for index, tab in tabs %}
                <div class="tab-{{ index }} tab-content{{ index == currentTab ? ' active' }}">
                    {% set fields = tab.fields %}
                    {{ block('fields') }}
                </div>
            {% endfor %}
        </div>
        {% set fields = fieldsWithoutTab %}
        {{ block('fields') }}

    {% else %}
        {{ block('fields') }}
    {% endif %}

    {% block submitButton %}
        <div class="form-group">
            {{ submitButton(sendButtonLabel, {'class': 'btn btn-submit btn-primary', 'name': 'submit'}) }}
        </div>
    {% endblock %}

    <input type="hidden" name="{{ security.tokenKey }}" value="{{ security.token }}"/>

    {{ endForm() }}
</div>