{# @var self \KikCMS\Classes\DataTable\DataTable #}
<div class="datatable toolbarComponent" id="{{ instanceName }}">

    <div class="toolbar">
        <div class="btn btn-default add">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            <span class="lbl">
                {{ tl(labels ~ '.add') ?: tl('dataTable.add') }}
            </span>
        </div>

        {% block additionalButtons '' %}

        <div class="btn btn-default delete" style="display: none;">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            <span class="lbl">{{ tl('delete') }}</span>
        </div>

        {% if isSearchable %}
            <div class="search">
                <span class="glyphicon glyphicon-search"></span>
                <input type="search" class="form-control" placeholder="{{ tl('dataTable.searchPlaceholder') }}"/>
                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
            </div>
        {% endif %}

        <div class="pages">
            {% if pagination.total_pages > 1 %}
                {% include '@kikcms/datatable/pagination.twig' %}
            {% endif %}
        </div>
    </div>

    <div class="table">
        {% include '@kikcms/' ~ self.tableView ~ '.twig' %}
    </div>

    <div class="footer">
        <div class="pages">
            {% if pagination.total_pages > 1 %}
                {% include '@kikcms/datatable/pagination.twig' %}
            {% endif %}
        </div>
    </div>
</div>
<script>
    $(function () {
        eval("{{ instanceName }} = new {{ jsClass }}();");
        eval("{{ instanceName }}.instance = '{{ instanceName }}';");
        eval("{{ instanceName }}.parentEditId = {{ parentEditId }};");
        eval("{{ instanceName }}.labels = '{{ labels }}';");
        eval("{{ instanceName }}.init();");
    });
</script>