<div class="colorpicker" data-color="{{ value }}" data-colors="{{ colors }}">
    <div class='colorpicker__button' style="background-color: {{ value }}"></div>
    <input type="text" id="{{ name }}" name="{{ name }}" value="{{ value }}" readonly
           class="colorpicker__input form-control">
</div>