{# @var menuGroupMap \KikCMS\ObjectLists\MenuGroupMap #}
{# @var menuGroup \KikCMS\Services\Cms\CmsMenuGroup #}
{# @var menuItem \KikCMS\Services\Cms\CmsMenuItem #}

{% extends '@kikcms/base.twig' %}

{% block content %}
    <div id="notFading">
        <div id="cmsLoader">
            {{ source('@cmsResources/icons/loader.svg') }}
            <span>{{ tl('cms.loading') }}</span>
        </div>
        <div id="ajaxDebugger" onclick="$(this).hide();"></div>
    </div>

    <div id="menu">
        <a class="logo" href="{{ route('cms') }}"></a>

        {% for menuGroup in menuGroupMap %}
            <div class="menu-group">
                <div class="title">
                    {{ menuGroup.label }}
                </div>
                {% for id, menuItem in menuGroup.menuItemMap %}
                    {% set class = id == actionName or id == selectedMenuItem ? ' selected' : '' %}
                    <a class="menu-item{{ class }}" href="{{ url(menuItem.route) }}"
                       title="{{ id == 'logout' ? tl('menu.username', {'email' : userEmail}) }}">
                        {{ menuItem.label }}
                    </a>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <div id="main">
        <div id="main-content">
            {% if flash %}
                {{ flash.output }}
            {% endif %}
            {% block cmsContent '' %}
        </div>
    </div>
{% endblock %}