{% extends '@kikcms/cms/base.twig' %}

{% block title title %}

{% block cssAssets %}
    {{ parent() }}
    {{ stylesheetLink('cmsassets/css/statistics.css') }}
{% endblock %}

{% block jsAssets %}
    {{ javascriptInclude('https://www.gstatic.com/charts/loader.js') }}
    {{ javascriptInclude('/cmsassets/js/statistics.js') }}
{% endblock %}

{% block cmsContent %}
    <div class="controls">
        <input type="hidden" name="settings" value="{{ settings|json_encode }}">

        <div class="btn-group interval" role="group">
            <button type="button" class="btn btn-default" data-interval="daily">{{ tl('statistics.intervalDay') }}</button>
            <button type="button" class="btn btn-primary" data-interval="monthly">{{ tl('statistics.intervalMaand') }}</button>
        </div>

        <div class="dateRange">
            <input class="form-control start" type="date" placeholder="{{ tl('statistics.fromDate') }}">
            <input class="form-control end" type="date" placeholder="{{ tl('statistics.untilDate') }}">
        </div>

        <button class="btn btn-default refresh loading">
            {{ source('@cmsResources/icons/loader.svg') }}
            <span class="lbl">{{ tl('statistics.fetchingNewData') }}</span>
        </button>

    </div>

    <div id="visitors"></div>
{% endblock %}