{# @var element Phalcon\Forms\Element #}
{# @var form \Phalcon\Forms\Form #}

{%- block fieldDefault -%}
    <div{{ fieldContainterAttributes|raw }}>
        {%- block fieldDefaultInputAndFIeld -%}
            {% if(placeHolderAsLabel == false) %}
                {{ form.label(element.name)|raw }}
            {% endif %}

            {{ form.render(element.name)|raw }}

            {% if hasError %}
                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
            {% endif %}
        {% endblock %}
    </div>
{%- endblock -%}

{%- block fieldHidden -%}
    {{ form.render(element.name)|raw }}
{%- endblock -%}

{%- block fieldCheckbox -%}
    <div{{ fieldContainterAttributes|raw }}>
        <div class="checkbox">
            <label>
                {{ form.render(element.name)|raw }} {{ element.getLabel|raw }}
            </label>
        </div>
    </div>
{%- endblock -%}

{%- block fieldMultiCheckbox %}
    <div{{ fieldContainterAttributes|raw }}>
        {{ form.label(element.name)|raw }}
        {% for key, label  in element.options %}
            {% set checked = element.isset(key) ? ' checked="checked"' : '' %}
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="{{ element.name }}[]" value="{{ key }}"{{ checked }}>{{ label }}
                </label>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{%- block fieldAutocomplete %}
    {{ block('fieldDefault') }}
{% endblock %}

{%- block fieldDataTable %}
    {% set filters = {parentEditId: dataTableEditId ?: 0} %}

    <div{{ fieldContainterAttributes|raw }}>
        {{ form.label(element.name)|raw }}
        {{ field.dataTable.render(filters)|raw }}
        {{ form.render(element.name)|raw }}
    </div>
    <script> eval("{{ field.dataTable.instanceName }}.parentEditId = {{ dataTableEditId ?: 0 }};");</script>
{% endblock %}

{%- block fieldWysiwyg %}
    {{ block('fieldDefault') }}
{% endblock %}