{# @var element Phalcon\Forms\Element #}
{# @var form \Phalcon\Forms\Form #}

{%- block fieldDefault -%}
    <div{{ fieldContainterAttributes|raw }}>
        {%- block fieldDefaultInputAndFIeld -%}
            {% if(placeHolderAsLabel == false) %}
                {{ form.label(element.name)|raw }}
            {% endif %}

            {{ form.render(element.name)|raw }}

            {% if hasError %}
                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
            {% endif %}
        {% endblock %}
    </div>
{%- endblock -%}

{%- block fieldHidden -%}
    {{ form.render(element.name)|raw }}
{%- endblock -%}

{%- block fieldCheckbox -%}
    <div{{ fieldContainterAttributes|raw }}>
        <div class="checkbox">
            <label>
                {{ form.render(element.name)|raw }} {{ element.getLabel|raw }}
            </label>
        </div>
    </div>
{%- endblock -%}

{%- block fieldMultiCheckbox %}
    <div{{ fieldContainterAttributes|raw }}>
        {{ form.label(element.name)|raw }}
        {% for key, label  in element.options %}
            {% set checked = element.isset(key) ? ' checked="checked"' : '' %}
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="{{ element.name }}[]" value="{{ key }}"{{ checked }}>{{ label }}
                </label>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{%- block fieldAutocomplete %}
    {{ block('fieldDefault') }}
{% endblock %}

{%- block fieldDataTable %}
    {# @var field \KikCMS\Classes\WebForm\Fields\DataTableField #}
    {% set filters = {parentEditId: dataTableEditId ?: 0} %}

    <div{{ fieldContainterAttributes|raw }}>
        {{ form.label(element.name)|raw }}
        {{ field.dataTable.render(filters)|raw }}
        {{ form.render(element.name)|raw }}
    </div>
{% endblock %}

{%- block fieldWysiwyg %}
    {{ block('fieldDefault') }}
{% endblock %}

{%- block fieldFile %}
    <div{{ fieldContainterAttributes|raw }}>
        {{ form.label(element.name)|raw }}
        {{ form.render(element.name)|raw }}
        <div class="field">
            <div class="buttons">
                <div class="btn btn-default preview">
                    <div class="thumb"></div>
                </div>

                <div class="btn btn-default delete hidden" title="{{ tl('webForm.detachFile') }}">
                    <span class="glyphicon glyphicon-remove"></span>
                </div>

                <div class="btn btn-default pick">
                    <span class="glyphicon glyphicon-hand-up"></span>
                    <span class="lbl">{{ tl('dataTable.pickFile') }}</span>
                </div>

                <label class="btn btn-default upload" title="{{ tl('media.button.uploadTitle') }}">
                    <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                    <span class="lbl">
                        {{ tl('media.button.upload') }}
                        <input type="file" name="file"/>
                    </span>
                </label>
            </div>
            <div class="file-picker">
                <div class="finder-container"></div>
                <div class="buttons">
                    <div class="btn btn-default cancel">{{ tl('cancel') }}</div>
                    <div class="btn btn-primary disabled pick-file">{{ tl('media.pickFile') }}</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}