{# @var form Phalcon\Forms\Form #}
{# @var fields \KikCMS\Classes\WebForm\Field[] #}
{# @var errorContainer \KikCMS\Classes\WebForm\ErrorContainer #}
{# @var security \Phalcon\Security #}
{% use '@kikcms/webform/fields.twig' %}

<div class="webForm" data-class="{{ class }}">
    {{ form({name: 'form'}) }}

    {% if errorContainer.hasFormErrors %}
        <div class="alert alert-danger">
            {% for error in errorContainer.formErrors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        </div>
    {% endif %}

    {% for field in fields %}
        {% set element = field.element %}
        {% set errorMessages = errorContainer.errorsForField(element.name) %}
        {% set hasError = errorContainer.fieldHasError(element.name) %}
        {% set type = field.type ?: 'default' %}
        {% set classes = 'form-group' ~ (hasError ? ' has-error has-feedback' : '') %}
        {% set fieldContainterAttributes = ' class="' ~ classes ~ '" title="' ~ errorMessages|join("\n") ~ '"' -%}

        {{ block('field' ~ ucfirst(type)) }}
    {% endfor %}

    {% block submitButton %}
        <div class="form-group">
            {{ submitButton(sendButtonLabel, {'class': 'btn btn-submit btn-block', 'name': 'submit'}) }}
        </div>
    {% endblock %}

    <input type="hidden" name="{{ security.tokenKey }}" value="{{ security.token }}"/>

    {{ endForm() }}
</div>