<div class="modal fade permissionModal" id="permissionModal{{ instance }}" data-keyboard="false" data-backdrop="static"
     tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    {{ tl('media.button.modal.title') }}: <span class="file"></span>
                </h4>
            </div>
            <div class="modal-body">
                <div class="messages">
                    <div class="alert alert-success success" style="display: none;">
                        {{ tl('media.button.modal.saveSuccess') }}
                    </div>
                    <div class="alert alert-danger error" style="display: none;">
                        {{ tl('media.button.modal.saveError') }}
                    </div>
                    <div class="alert alert-warning warning" style="display: none;">
                        {{ tl('media.button.modal.intermediateWarning') }}
                    </div>
                </div>
                <form>
                    <table class="table-striped">
                        <thead>
                        <tr>
                            <td></td>
                            <td>{{ tl('media.button.modal.read') }}</td>
                            <td>{{ tl('media.button.modal.write') }}</td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for role, name in roleMap %}
                            <tr>
                                <td>{{ name }}</td>
                                <td class="check">
                                    <label>
                                        <input type="checkbox" data-right="read" name="permission[{{ role }}][read]">
                                    </label>
                                </td>
                                <td class="check">
                                    {% if role != visitorRole %}
                                        <label>
                                            <input type="checkbox" data-right="write"
                                                   name="permission[{{ role }}][write]">
                                        </label>
                                    {% else %}
                                        <label><input type="checkbox" disabled></label>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        {% if userMap.count %}
                            <tr>
                                <td>
                                    <select>
                                        <option value="">...</option>
                                        {% for user in userMap %}
                                            <option value="{{ user.id }}">{{ user.email }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td class="check">
                                    <label><input type="checkbox" disabled></label>
                                </td>
                                <td class="check">
                                    <label><input type="checkbox" disabled></label>
                                </td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>

                    <div class="form-check sub-files-checkbox">
                        <input type="checkbox" name="recursive" class="form-check-input" id="recursive{{ instance }}">
                        <label class="form-check-label" for="recursive{{ instance }}">
                            {{ tl('media.button.modal.applyToSubFolders') }}
                        </label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    {{ tl('media.button.modal.close') }}
                </button>
                <button type="button" class="btn btn-primary save">
                    {{ tl('media.button.modal.save') }}
                </button>
            </div>
        </div>
    </div>
</div>