<div class="modal fade" id="rightsModal{{ instance }}" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    {{ tl('media.button.modal.title') }}: <span class="files"></span>
                </h4>
            </div>
            <div class="modal-body">
                ...

                <br>

                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="rightSubFiles{{ instance }}">
                    <label class="form-check-label" for="rightSubFiles{{ instance }}">
                        {{ tl('media.button.modal.applyToSubFolders') }}
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    {{ tl('media.button.modal.close') }}
                </button>
                <button type="button" class="btn btn-primary">
                    {{ tl('media.button.modal.save') }}
                </button>
            </div>
        </div>
    </div>
</div>