{% extends '@kikcms/base.twig' %}

{% block cssAssets %}
    {{ stylesheetLink('cmsassets/css/menu.css') }}
{% endblock %}

{% block content %}
    <div id="menu">
        <a class="logo" href="{{ url('cms') }}"></a>

        {% for name, menuGroup in menuStructure %}
            <div class="menu-group">
                <div class="title">{{ tl('menu.group.' ~ name) }}</div>
                {% for menuItem in menuGroup %}
                    {% set class = menuItem == currentCmsUrl ? ' selected' : '' %}
                    <a class="menu-item{{ class }}" href="{{ url('cms/' ~ menuItem) }}">
                        {{ tl('menu.item.' ~ menuItem|replace({'/':'.'})) }}
                    </a>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <div id="main">
        <div id="main-content">
            {% block cmsContent '' %}
        </div>
    </div>
{% endblock %}