<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="/cmsassets/favicon.ico" />
    {{ stylesheetLink('//fonts.googleapis.com/css?family=Lato:300,700') }}
    {{ stylesheetLink('cmsassets/css/bootstrap.min.css') }}
    {{ stylesheetLink('cmsassets/css/bootstrap-kikcms.css') }}
    {{ stylesheetLink('cmsassets/css/default.css') }}
    {% block cssAssets %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Your invoices">
    <meta name="author" content="Phalcon Team">
</head>
<body>
{% block content %}{% endblock %}
{{ javascriptInclude('cmsassets/js/jquery.min.js') }}
{{ javascriptInclude('cmsassets/js/bootstrap.min.js') }}
{{ javascriptInclude('cmsassets/js/utils.js') }}
{% block jsAssets %}{% endblock %}
</body>
</html>