<div class="datatable" id="{{ instanceName }}">

    <div class="toolbar">

        <div class="button add">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            <span class="lbl">{{ tl('dataTable.add') }}</span>
        </div>

        <div class="button delete faded">
            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
            <span class="lbl">{{ tl('dataTable.delete.label') }}</span>
        </div>

        {% if isSearchable %}
            <div class="search">
                <span class="glyphicon glyphicon-search"></span>
                <input type="search" class="form-control" placeholder="{{ tl('dataTable.searchPlaceholder') }}" />
                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
            </div>
        {% endif %}

        {% if pagination.total_pages > 1 %}
            <div class="pages">{% include '@kikcms/data-table/pagination.twig' %}</div>
        {% endif %}
    </div>

    <div class="table">
        {% include '@kikcms/data-table/table.twig' %}
    </div>

    {% if pagination.total_pages > 1 %}
        <div class="footer">
            <div class="pages">{% include '@kikcms/data-table/pagination.twig' %}</div>
        </div>
    {% endif %}
</div>
<script>
    window.onload = function() {
        eval(
            "var {{ instanceName }} = new DataTable();" +
            "{{ instanceName }}.instance = '{{ instanceName }}';" +
            "{{ instanceName }}.init();"
        );
    };
</script>