{# @var self \KikCMS\Classes\DataTable\DataTable #}

{% if(headerData) %}
    <table>
        <thead>
        <tr>
            {% for name in headerData %}
                {% set sortClass = '' %}
                {% set sortDirection = '' %}
                {% if filters.sortColumn == name %}
                    {% if filters.sortDirection == 'asc' %}
                        {% set sortClass = 'glyphicon glyphicon-sort-by-attributes' %}
                    {% elseif filters.sortDirection == 'desc' %}
                        {% set sortClass = 'glyphicon glyphicon-sort-by-attributes-alt' %}
                    {% endif %}
                    {% set sortDirection = filters.sortDirection %}
                {% endif %}
                <td data-column="{{ name }}" data-sort="{{ sortDirection }}">{{ name|capitalize }}<span class="{{ sortClass }}"></span></td>
            {% endfor %}
            <td></td>
        </tr>
        </thead>

        <tbody>
        {% for row in tableData %}
            <tr data-id="{{ row.id }}">
                {% for key, value in row %}
                    <td>
                        {% if fieldFormatting[key] is defined %}
                            {{ self.formatValue(key, value)|raw }}
                        {% else %}
                            {{ value }}
                        {% endif %}
                    </td>
                {% endfor %}
                <td class="edit">
                    <input type="hidden" name="id" value="{{ row.id }}">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="no-data">{{ tl('dataTable.noData') }}</div>
{% endif %}