{% if(headerData) %}
    <table>
        <thead>
        <tr>
            {% for name in headerData %}
                <td>{{ name|capitalize }}</td>
            {% endfor %}
            <td></td>
        </tr>
        </thead>

        <tbody>
        {% for row in tableData %}
            <tr data-id="{{ row.id }}">
                {% for value in row %}
                    <td>{{ value }}</td>
                {% endfor %}
                <td class="edit">
                    <input type="hidden" name="id" value="{{ row.id }}">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    {{ tl('dataTable.noData') }}
{% endif %}